[Unit]
Description=检查clickhouse状态
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
RestartSec=5
ExecStart=/home/monitor/check_clickhouse/check_clickhouse.sh