[Unit]
Description=自动执行shell
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
RestartSec=5
ExecStart=/home/monitor/auto_executer/auto_executer.sh