[Unit]
Description=检查mysql状态
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
RestartSec=5
ExecStart=/home/monitor/check_mysql/check_mysql.sh