[Unit]
Description=检查job状态
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=always
RestartSec=5
ExecStart=/home/monitor/check_job/check_job.sh