[Unit]
Description=Prometheus

[Service]
ExecStart=/usr/local/nginx_exporter/nginx-prometheus-exporter -nginx.scrape-uri=http://$nginx_host:$nginx_port/nginx_status
Restart=on-failure

[Install]
WantedBy=multi-user.target