[Unit]
Description=Prometheus

[Service]
ExecStart=/usr/local/node_exporter/node_exporter --web.listen-address=:$exporter_port
Restart=on-failure
[Install]

WantedBy=multi-user.target